.button{
  text-align: center;
  padding:25px;
 
}
.button:visited{
  text-decoration: none;
  color:black
}
#home{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#background{
  position:absolute;
  top:0px;
  right:0px;
  height: 100%;
  width:100%
}
#buttongroup{
  display: flex;
  justify-content: left;
  background-color: green;
  font-size: 20px;
  margin-bottom: 30px;
}

